* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.synth {
  --height: 200px;
  --key-width-white: 60px;
  --key-width-black: calc(var(--key-width-white) * 0.666);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: fit-content;
  height: var(--height);

  margin-inline: auto;
  outline: 1px solid lightgray;
  position: relative;
}

synth-octave {
  display: flex;
  flex-wrap: nowrap;
}

.synthKey {
  appearance: none;
  border: 0.125rem solid #ccc;
  height: 100%;
  margin: 0;
}

.synthKey--white {
  color: #000;
  background-color: #fff;
  width: var(--key-width-white);
}

.synthKey--black {
  color: #fff;
  background-color: #000;
  width: var(--key-width-black);
  height: calc(var(--height) * 0.666);
  position: absolute;
  margin-left: calc(var(--key-width-black) * -0.5);
}
